http {
    server {
    	server_name default default1;
    	listen 127.0.0.1:8180;

    	location /					
    	{
			error_page 404 ./configs/default_error_pages/404.html;
			error_page 500 ./configs/default_error_pages/500.html;
    		allow_methods GET POST DELETE;
    		root tests/;
			index text.html;
		}
    
    	location /webserv/
    	{
    		allow_methods GET POST DELETE;
    		root tests/;
    		index webserv.html;
			return 301 http://google.com;
    	}
    }
    
    server
    {
    	server_name test;
    	listen 127.0.0.1:8181;
    
    	location /
    	{
    		allow_methods GET POST;
			request_max_body_size 700000;
    		root upload_test/;
    		index upload.php;
			cgi_pass /opt/homebrew/bin/php-cgi;
		}
		
    	location /abc/
    	{
    		allow_methods GET;
			root tests/;
    		index Dog.png;
    	}
    }

    server
    {
    	server_name AllTests;
    	listen 127.0.0.1:8282;
    
    	location /
    	{
    		allow_methods GET POST DELETE;
    		root Website_to_test/;
			index index.html;
			auto_index on;
			cgi_pass /opt/homebrew/bin/php-cgi /usr/bin/python3 /usr/bin/perl;
		}
    }

	server
    {
    	server_name delete_test;
    	listen 127.0.0.1:8383;
    
    	location /
    	{
    		allow_methods GET DELETE;
    		root delete_without_cgi/;
			index delete_handler.html;
		}
    }
}