http
{
    server
	{
    	server_name first.com;
    	listen 8180 127.0.0.1;

    	location /
    	{
    		allow_ GET POST DELETE;
    		root ./tests/test1/;
    		index index1.html;
		}
    }
	server
    {
    	server_name first1.com;
    	listen 8180 127.0.0.1;

    	location /dksjfl/						
    	{
    		allow_ GET POST DELETE;
    		root ./tests/test12/;
    		index index2.html;
		}
    }
}