http {
	fdljfglkdggfd;
    server
    {
    	server_name default;
    	listen 8180 127.0.0.1;

    	location /						
    	{
			error_page 404 ./tests/test1/error404.html;
    		error_page 405 ./tests/test1/error405.html;
    		allow_methods GET POST DELETE;
    		root ./tests/test1/;
    		index index.html index2.html;
    		auto_index on;
    	}
    
    	location /virtual/
    	{
    		allow_methods GET POST DELETE;
    		request_max_body_size	42;
    		root ./tests/test2/;
    		index index.html index2.html;
    		auto_index on1;
    		auth_key selim:1234;
    	}
    }
    
    server
    {
    	server_name second;
    	listen 8181 127.0.0.1;
    
    	location /
    	{
    		allow_methods GET;
    		root ./tests/test1/;
    		index second.html;
    	}
		    
    	location /abc/
    	{
    		allow_methods GET;
    		index second.html;
    	}
    }
    
    server
    {
    	server_name google.com;
    	listen 8182 127.0.0.1;
    
    	location /
    	{
    		allow_methods GET;
    		return 301 http://google.com;
    	}
    }
}